This is a simple machine learning project. I am using a simple datset involving pedal shapes to detect the type of flower. The primary purpose of this notebook is for me to learn how to implement hyperperameter tuning in prebuilt models , and deep learning models.

In [1]:
!pip install scikit-learn

from sklearn import svm , datasets
iris = datasets.load_iris()

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\harish vasanth\appdata\local\programs\python\python311\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\harish vasanth\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\harish vasanth\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\harish vasanth\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\harish vasanth\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)

In [20]:
import pandas as pd

In [40]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df['flower'] = iris.target
df['flower'] = df['flower'].apply(lambda x : iris.target_names[x])

In [41]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [42]:
df['flower'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [43]:
flower_dict = {
    'setosa' : 1,
    'versicolor' : 2,
    'virginica' : 3,
}


df['flower'].map(flower_dict)

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: flower, Length: 150, dtype: int64

In [44]:
dependant = df.pop('flower')
independant = df

### Model - Logistic regression

In [75]:
from sklearn.linear_model import LogisticRegression     
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(independant,dependant,test_size=0.3)

In [64]:
model = svm.SVC(kernel='rbf',C = 30,gamma ='auto')
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.9777777777777777

In [66]:
## Grid search  
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma='auto'),{
 
 "C" : [1,10,20],
 'kernel':['rbf','linear']



}, cv=5
)

In [70]:
clf.fit(independant,dependant)
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008315,0.002926,0.003800,0.001161,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.004200,0.001660,0.005703,0.002936,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.004413,0.001960,0.002437,0.001415,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.002894,0.001713,0.002193,0.002058,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.003683,0.002044,0.001017,0.001245,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.003535,0.002035,0.001526,0.001152,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

### Model - KNN

In [76]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=3)

clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

0.9777777777777777

In [77]:
clf = GridSearchCV(KNeighborsClassifier(n_neighbors=3),
{
    "algorithm" : ["ball_tree","kd_tree","brute"],
    "leaf_size" : [10,20,30,40]
    }, cv=5
)

clf.fit(independant,dependant)
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_leaf_size,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003925,0.002011,0.003982,0.000899,ball_tree,10,"{'algorithm': 'ball_tree', 'leaf_size': 10}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
1,0.003592,0.001842,0.003362,0.002273,ball_tree,20,"{'algorithm': 'ball_tree', 'leaf_size': 20}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
2,0.001830,0.000943,0.003967,0.001214,ball_tree,30,"{'algorithm': 'ball_tree', 'leaf_size': 30}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
3,0.002625,0.002589,0.003393,0.001995,ball_tree,40,"{'algorithm': 'ball_tree', 'leaf_size': 40}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
4,0.000205,0.000410,0.004371,0.003023,kd_tree,10,"{'algorithm': 'kd_tree', 'leaf_size': 10}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
5,0.002217,0.001514,0.004246,0.002203,kd_tree,20,"{'algorithm': 'kd_tree', 'leaf_size': 20}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
6,0.003350,0.001678,0.013290,0.015308,kd_tree,30,"{'algorithm': 'kd_tree', 'leaf_size': 30}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
7,0.001816,0.001706,0.004443,0.001072,kd_tree,40,"{'algorithm': 'kd_tree', 'leaf_size': 40}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
8,0.004069,0.000863,0.041529,0.059894,brute,10,"{'algorithm': 'brute', 'leaf_size': 10}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
9,0.002524,0.002253,0.019618,0.012294,brute,20,"{'algorithm': 'brute', 'leaf_size': 20}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
10,0.006658,0.002921,0.030552,0.017022,brute,30,"{'algorithm': 'brute', 'leaf_size': 30}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1
11,0.003757,0.002193,0.021518,0.010926,brute,40,"{'algorithm': 'brute', 'leaf_size': 40}",0.966667,0.966667,0.933333,0.966667,1.0,0.966667,0.021082,1